#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background:#000000;
}

#loading-contents{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#loading-text{
    /*Place*/
    width: 100%;
}

#loading-text p{
    text-align: center;
    font-size: 30px;
    font-family: "Arial Black";
    color: rgb(255, 255, 255);
    text-shadow: #999999 2px 2px 2px;
    margin: 0;
}